$white: #fff;
$black: #000;
$dark-grey: #626872;
$grey: #ccc;
$light-grey: #F1F1F1;

@import "fonts";
@import "navigation";
@import "svg";

html {
	scroll-behavior: smooth;
}

html,
body {
	font-family: "Open Sans Condensed";
	font-size: 18px;
	margin: 0;
}

p,
span {
	font-size: 1.1rem;
	@media screen  and (max-width: 1100px) {
		margin-left: 15px;
		margin-right: 15px;
	}
}

h1 {

}
h2 {
	font-size: 2rem;
	font-weight: bold;
	margin: 100px 0 20px;
	width: 100%;
	@media screen  and (max-width: 1100px) {
		margin: 100px 15px 20px;
	}
}
h3 {
	font-size: 1.5rem;
	font-weight: bold;
	margin-bottom: 15px;
	@media screen  and (max-width: 576px) {
		hyphens: auto;
		margin-bottom: 45px;
	}
}
h4 {
	font-size: 1.2rem;
	font-weight: bold;
}

section.view {
	min-height: 100vh;
	&:nth-child(even) {
		background: $grey;
	}
	&:nth-child(odd) {
		background: $light-grey;
	}
	> article p {
		width: 100%;
		margin-bottom: 45px;
	}
}

.teaser {
	margin: 0 auto;
	padding-bottom: 45px;
	width: 1040px;
	@media screen and (max-width: 1100px) {
		width: 100%;
	}
	> article {
		height: 100%;
		margin-bottom: 30px;
		> div {
			background: #fff;
			box-shadow: 0 0 10px #ccc;
			padding: 45px;
			span {
				margin: 0;
			}
		}
	}
}

#bitcoin-dashboard {
	.item {
		@media screen and (max-width: 768px) {
			margin-bottom: 20px;
		}
	}
	.yourBitcoins {
		display: flex;
		@media screen and (max-width: 768px) {
			display: block;
		}
		h3 {
			margin-bottom: 0;
		}
		.column {
			width: 50%;
			text-align: center;
			@media screen and (max-width: 768px) {
				width: 100%;
				&:first-child {
					margin-bottom: 15px;
				}
			}
			&:last-child span {
				font-weight: bold;
				font-size: 1.5rem;
			}
			@keyframes tendencyRotateNegative {
				from { transform: rotate(0deg) }
				to { transform: rotate(45deg) }
			}
			@keyframes tendencyRotatePositive {
				from { transform: rotate(0deg) }
				to { transform: rotate(-45deg) }
			}
			.tendency {
				margin: -12px 0 0 7px;
				&.tendency-0 {
					color: #888;
				}
				&.tendency-1 {
					animation: tendencyRotatePositive 1s linear forwards;
					color: green;
				}
				&.tendency--1 {
					animation: tendencyRotateNegative 1s linear forwards;
					color: red;
				}
			}
		}
	}
}

#bitcoin-details {
	> article {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		> article {
			display: flex;
			float: left;
			margin-bottom: 0;
			min-height: 260px;
			padding: 20px;
			width: 30%;
			@media screen and (max-width: 576px) {
				width: inherit;
			}
			div {
				box-shadow: 0 0 10px #999;
				background: #fff;
				position: relative;
				width: 100%;
				span {
					bottom: 45px;
					position: absolute;
				}
			}
		}
	}
}

#bitcoin-converter {
	min-height: 60vh;
	article {
		margin: 0 auto;
		form h3 {
			margin-top: 10px;
		}
	}
}

#bitcoin-diagramm {
	> article > article {
		width: 100%;
	}
	canvas {
		width: 100%;
		padding-left: 15px;
		padding-right: 15px;
	}
}

#bitcoin-my {
	min-height: inherit;
	article > div {
		background: none;
		box-shadow: none;
		padding: 0;
	}
	@media screen and (max-width: 1100px) {
		.delete-account {
			display: block;
			width: 100%;
		}
		article > div {
			padding: 0 15px;
			p {
				margin: 0;
			}
		}
		button {
			margin-left: 15px;
		}
	}
}