<template>
    <section id="bitcoin-converter" class="view">
		<article class="row teaser">
			<h2>{{ headline }}</h2>
			<p>{{ description }}</p>
			<article>
				<form>
					<h3>Währung</h3>
					<select @change="changeCurrency($event)" v-model="key" class="form-control" aria-label="Währungsauswahl">
						<option value="">bitte eine Währung wählen</option>
						<option value="eur">EUR</option>
						<option value="usd">USD</option>
						<option value="aud">AUD</option>
						<option value="nzd">NZD</option>
						<option value="gbp">GBP</option>
					</select>
					<input 
						:value="form.input_currency_value" 
						@change="updateCurrency" 
						type="hidden" 
						step="0.000001" 
						class="form-control" 
						name="input_currency_value" 
						id="input_currency_value" 
						placeholder="Währung"
						/>
					<h3>Summe</h3>
					<input 
						:value="form.currency_value" 
						@change="updateCurrencyValue" 
						type="number" 
						step="0.01" 
						class="form-control" 
						name="currency_value" 
						id="currency_value" 
						placeholder="Betrag"
						aria-label="Ihr Betrag zur Umrechnung"
						/>
					<h3>Umgerechnet in BTC</h3>
					<input 
						v-model="form.currency_convert" 
						type="number" 
						step="0.01" 
						class="form-control" 
						name="currency_convert" 
						id="currency_convert" 
						placeholder="Umgerechnet" 
						disabled
						aria-label="Das umgerechnete Ergebnis"
						/>
				</form>
			</article>
		</article>
	</section>
</template>

<script>
export default {
    name: 'Details',
    props: {
    },
	data: function() {
		return {
			headline: "Bitcoin Umrechner",
			description: "Hier haben Sie die Möglichkeit zu schauen, was Ihre Währung aktuell für einen Bitcoin-Wert hat",
			key: "",
			form: {
				input_currency_value: 0,
				currency_value: 1,
				currency_convert: 0
			}
		}
	},
	methods: {
		changeCurrency(event) {
			var self = this;
			fetch("https://blockchain.info/tobtc?currency="+event.target.value+"&value=1")
				.then(res => res.json())
				.then((data) => {
					self.form.input_currency_value = data;
					self.form.currency_convert = data * self.form.currency_value;
				})
				.catch(err => {
					console.log(err);
				})
		},
		updateCurrency(event) {
			this.form.input_currency_value = event.target.value
			this.form.currency_convert = this.form.input_currency_value * this.form.currency_value
		},
		updateCurrencyValue(event) {
			this.form.currency_value = event.target.value
			this.form.currency_convert = this.form.input_currency_value * this.form.currency_value
		}
	}
}
</script>