<template>
    <section id="bitcoin-details" class="view">
		<article class="row teaser">
			<h2>{{ headline }}</h2>
			<p>{{ description }}</p>
			<article v-for="detail in bitcoin_details" v-bind:key="detail.headline" class="col-lg-4 col-md-4 col-sm-12" :class="error">
				<div>
					<h3>{{ detail.headline }}</h3>
					<span>{{ detail.value }}</span>
				</div>
			</article>
		</article>
	</section>
</template>

<script>
export default {
    name: 'Details',
    props: {
    },
	data: function() {
		return {
			headline: 'Bitcoin Details',
			description: 'Haben Sie alle Werte fest im Blick',
			bitcoin_details: [],
			error: false	
		}
	},
	methods: {
		getBlockchainInfo: function(bitcoin_details, url, headline, stats) {
			fetch(url)
				.then(res => res.json())
				.then((data) => {
					data = stats ? data.hash_rate : data;
					bitcoin_details.push({"headline": headline, "value": data});
				})
				.catch(err => {
					console.log(err);
				})
			return bitcoin_details;
		}
	},
	mounted() {
		var self = this;
		var bitcoin_details = [];

		self.bitcoin_details = self.getBlockchainInfo(bitcoin_details, "https://blockchain.info/q/marketcap", "Marktkapitalisierung");
		self.bitcoin_details = self.getBlockchainInfo(bitcoin_details, "https://blockchain.info/q/totalbc", "Anzahl aller Bitcoins im Umlauf");
		self.bitcoin_details = self.getBlockchainInfo(bitcoin_details, "https://blockchain.info/q/24hrtransactioncount", "Anzahl der Transaktionen in den letzten 24h");
		self.bitcoin_details = self.getBlockchainInfo(bitcoin_details, "https://blockchain.info/q/24hrbtcsent", "Anzahl gesendeter Bitcoin in den letzten 24h");
		self.bitcoin_details = self.getBlockchainInfo(bitcoin_details, "https://api.blockchain.info/stats", "Aktuelle Hashrate", 1);
		self.bitcoin_details = self.getBlockchainInfo(bitcoin_details, "https://blockchain.info/q/getdifficulty", "Aktueller Schwierigkeitsgrad");
	}
}
</script>