<template>
    <section id="bitcoin-diagramm" class="view">
		<article class="row teaser">
			<h2>{{ headline }}</h2>
			<p>{{ description }}</p>
			<article>
				<canvas id="bitcoin-pools"></canvas>
			</article>
		</article>
	</section>
</template>

<script>
import Chart from 'chart.js'
import { functions } from './mixins/functions.js'

export default {
    name: 'Diagram',
    props: {
    },
	mixins: [functions],
	data: function() {
		return {
			headline: 'Bitcoin Diagramm',
			description: 'Erhalte Sie einen Überblick über die Werte verschiedener Pools der letzten 5 Tage',
		}
	},
	mounted() {
		var inView = false;
		var self = this;

		fetch("https://api.blockchain.info/pools?timespan=5days")
			.then(res => res.json())
			.then((data) => {
				var chartId = 'bitcoin-pools';
				var ctx = document.getElementById(chartId).getContext('2d');
				var progress = document.getElementById(chartId);
				window.onscroll = function() {
					if(self.isScrolledIntoView(chartId)) {
						if (inView) { return; }
						inView = true;
						new Chart(ctx, {
							// The type of chart we want to create
							type: 'bar',
							// The data for our dataset
							data: {
								labels: [
									'AntPool',
									'F2Pool',
									'NovaBlock',
									'Poolin',
									'SlushPool',
									'Unknown',
									'ViaBTC'
								],
								datasets: [{
									label: 'Pools',
									backgroundColor: '#ED5B6F',
									borderColor: '#ED5B6F',
									data: [
										data.AntPool,
										data.F2Pool,
										data.NovaBlock,
										data.Poolin,
										data.SlushPool,
										data.Unknown,
										data.ViaBTC
									]
								}]
							},
			
							// Configuration options go here
							options: {
								animation: {
									duration: 2000,
									onProgress: function(animation) {
										progress.value = animation.animationObject.currentStep / animation.animationObject.numSteps;
									},
									onComplete: function() {
										window.setTimeout(function() {
											progress.value = 0;
										}, 0);
									}
								}
							}
						});
					} else {
						inView = false;
					}
				}
			})
	},
}
</script>