<template>
    <section id="bitcoin-my" class="view">
		<article class="row teaser">
			<h2>{{ headline }}</h2>

			<div class="account">
				<div class="delete-account">
					<DeleteAccount />
				</div>
			</div>

			<article class="w-100">
				<div>
					<p>{{ description }}</p>

					<label>Bitcoin hinzufügen</label>
					<input class="form-control" type="number" step="0.1" placeholder="New item" v-model="bitcoin" @keydown.enter="addBitcoin">

					<ul class="list-unstyled mt-2 w-100">
						<li v-for="bitcoin in yourBitcoins" v-bind:key="bitcoin.country" :class="{ completed: bitcoin.completed }">
							<!-- <input type="checkbox" v-model="bitcoin.completed"> -->
							Es wurde/n <strong>{{ bitcoin }}</strong> BTC hinzugefügt
						</li>
					</ul>
				</div>
			</article>
		</article>
	</section>
</template>

<script>
import { functions } from './mixins/functions.js'
// import App from '../App.vue'
import DeleteAccount from "./DeleteAccount";

export default {
    name: 'MyBitcoin',
	components: {
		DeleteAccount
	},
	mixins: [functions],
	data: function() {
		return {
			headline: 'Mein Bitcoin',
			description: 'Fügen Sie Ihrem Konto Bitcoins hinzu',
			bitcoin: 0,
			bitcoins: [],
			yourBitcoins: this.getBitcoins(localStorage.getItem("yourBitcoins")),
			capitalKey: 0,
			interesting_data: "test"
		}
	},
	mounted() {
		this.getBitcoins()
		this.bitcoinCapital()
	},
	methods: {
		addBitcoin() {
			this.yourBitcoins.push(
				this.bitcoin
			);

			if(localStorage.getItem("yourBitcoins")) {
				localStorage.setItem("yourBitcoins", localStorage.getItem("yourBitcoins") + "," + this.bitcoin);
			} else {
				localStorage.setItem("yourBitcoins", this.bitcoin)
			}

			fetch("https://blockchain.info/tobtc?currency=eur&value=1")
				.then(res => res.json())
				.then((data) => {
					this.capital = this.bitcoinCapital(localStorage.getItem("yourBitcoins") , data).toFixed(2);
				})
				.catch(err => {
					console.log(err);
				})
		}
	},
	watch: {
		localStorage: {
			handler() {
				// console.log("changed");
			},
			deep: true
		}
	},
}
</script>