<template>
    <div id="app">
        <Navigation />
        <Dashboard v-bind:capital="capital" />
		<Details />
		<Converter />
		<Diagram />
		<MyBitcoin />
    </div>
</template>

<script>
import Navigation from './components/Navigation';
import Dashboard from './components/Dashboard';
import Details from './components/Details';
import Converter from './components/Converter';
import Diagram from './components/Diagram';
import MyBitcoin from './components/MyBitcoin';
import { functions } from './components/mixins/functions.js'

export default {
    name: 'App',
    components: {
        Navigation,
        Dashboard,
		Details,
		Converter,
		Diagram,
		MyBitcoin
    },
	mixins: [functions],
    data: () => ({
		headline: "",
		description: "",
		capital: 0,
		capitalTendency: 0,
		capitalTendencyPercent: 0,
		tendencyClass: "",
		bitcoins: [],
		key: "",
		form: ""
	}),
	mounted() {
		fetch("https://blockchain.info/tobtc?currency=eur&value=1")
			.then(res => res.json())
			.then((data) => {
				this.capital = this.bitcoinCapital(localStorage.getItem("yourBitcoins"), data).toFixed(2);
				this.capitalTendency = this.getCapitalTendency(this.capital);
				this.tendencyClass = "tendency-"+this.capitalTendency;
				this.capitalTendencyPercent = ((localStorage.getItem("newCapital") - localStorage.getItem("oldCapital")) / localStorage.getItem("oldCapital")) * 100;
			})
			.catch(err => {
				console.log(err);
			})
	}
}


</script>
